body {
    margin: 0 auto;
    font-family: 'Jua', sans-serif;
    color: #555;
    background: #f3f4f5;
}

.content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.logo {
    font-size: 40px;
    margin-bottom: 20px;
}

.info {
    margin-bottom: 80px;
}

input {
    padding: 8px 24px;
    border-radius: 4px;
    border: 0;
    margin-left: 10px;
    color: #ac98ef;
    outline: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.runButton {
    display: inherit;
    margin: 0 auto;
    margin-top: 35px;
    padding: 7px 28px;
    border: 0;
    background: none;
    color: white;
    background-color: #ac98ef;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    outline: 0;
}

.box {
    width: 73%;
    display: grid;
    grid-template-columns: 24% 24% 48%;
    grid-gap: 18px;
    margin: 0 auto;
    margin-top: 120px;
}

.block {
    height: 340px;
    background: lightgray;
    border-radius: 7px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

.lastGist {
    background-image: url(../img/1.jpeg);
    color: white;
}

.newGist {
    background-image: url(../img/2.jpeg);
    color: white;
}

.aboutBlock {
    background-image: url(../img/3.jpeg);
    color: white;
}

.block-heading {
    padding: 35px 30px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.block-button {
    position: absolute;
    left: 30px;
    bottom: 20px;
    display: block;
    padding: 9px 28px;
    background: #ffffffeb;
    border: 0;
    border-radius: 6px;
    font-size: 15px;
    outline: 0;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

/* Mobile */
@media screen and (max-width: 1000px) {
    .box {
        grid-template-columns: 100%;
    }

    input {
        margin-bottom: 15px;
    }

    .content {
        width: 100%;
    }
}
